<!-- Python build files -->
__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
env
**/.venv
**/.web
**/pip-log.txt
**/pip-delete-this-directory.txt
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.log
**/.git
**/.mypy_cache
**/.pytest_cache
**/.hypothesis

<!-- .Net build files -->
# Ignore the .git directory
.git

# Ignore all Docker-related files
.dockerignore
Dockerfile

# Ignore build directories
**/bin
**/obj

# Ignore user-specific files
*.user
*.rsuser
*.suo

# Ignore logs
*.log

# Ignore configuration files
*.vspscc
*.vssscc

# Ignore Rider project files
.idea/
*.sln.iml

# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore Node.js modules (if any)
node_modules/

# Ignore package files (if any)
*.nupkg
*.snupkg

# Ignore compiled DLLs and PDB files
*.dll
*.pdb

# Ignore database files
*.mdf
*.ldf

# Ignore publish output
publish/
out/
