<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level} ${logger} - ${message}" />
    
    <target name="debugFile" xsi:type="File" fileName="severity-debug.log" archiveFileName="severity-debug.{#}.log" archiveEvery="Day" maxArchiveFiles="5" layout="${longdate} ${level} ${logger} - ${message}" />
    
    <target name="infoFile" xsi:type="File" fileName="severity-info.log" archiveFileName="severity-info.{#}.log" archiveEvery="Day" maxArchiveFiles="5" layout="${longdate} ${level} ${logger} - ${message}" />

    <!-- <target name="warnAndAboveFile" xsi:type="File" fileName="severity-warning-and-above.log" archiveFileName="severity-warning-and-above.{#}.log" archiveEvery="Day" maxArchiveFiles="5" layout="${longdate} ${level} ${logger} - ${message}" /> -->
    
  </targets>
  
  <rules>
    <!-- <logger name="*" minlevel="Debug" writeTo="console" /> -->
    <logger name="*" level="Debug" writeTo="debugFile" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="infoFile" />
    <!-- <logger name="*" min="Warning" writeTo="warnAndAboveFile" /> -->
    
  </rules>
  
</nlog>
